* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.body li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.body p {
  line-height: 1.5em;
}

#footer {
  line-height: 40px;
}
